//  fonts
$font-title: 'Proxima Nova Lt';
$title-bold: 'Proxima Nova Rg';
$font: 'PT Sans';

// colors

$ice-white: #ebebeb;
$blue-over: rgba(153,153,204, 0.5);
$grey: #665f60;
$violet:#9f9acf;

//  screens 

$width-md: 720px;
$width-sm: 540px;
$width-lg: 960px;
$width-xl: 1140px;